@import url('https://fonts.googleapis.com/css?family=Lobster:100,200,300,400,500,600,700|Roboto:100,200,300,400,500,600,700&display=swap');


html {
    width: 100%;
    height: 100%;
}

body {
    background-image: url("https://images.unsplash.com/photo-1501769214405-5e5ee5125a02?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1598&q=80");
    background-size: cover;
}

/*----------Headings----------*/

h1,
h2 {
    font-family: "Lobster", sans-serif;
}

.container-heading{
    margin-top: 80px;
    margin-bottom: 60px;
    text-align: center;
}

/*----------Forms----------*/

.form {
    background: rgba(255,255,255,0.5);
    border-radius: 1em;
}

.md-form .prefix.active {
    color: #33b5e5;
}

.md-form input[type=text]:not(.browser-default):focus:not([readonly])+label {
    color: #33b5e5;
}

.md-form input[type=text]:not(.browser-default):focus:not([readonly]) {
    border-bottom: 1px solid #33b5e5;
            box-shadow: 0 1px 0 0 #33b5e5;
            /* color: #33b5e5; */
}

.md-form textarea.md-textarea:focus:not([readonly])+label {
    color: #33b5e5;
}

.md-form textarea.md-textarea:focus:not([readonly]) {
    border-bottom: 1px solid #33b5e5;
            box-shadow: 0 1px 0 0 #33b5e5;
            /* color: #33b5e5; */
}

/*---------- Cards ----------*/

.card {
    height: 450px;
}

.card.categories{
    height: 65px !important;
}

.card-flip {
  perspective: 1000px;
}

.card-flip.hover .flip {
  transform: rotateY(180deg);
}

.card-flip,
.front,
.back {
  width: 100%;
  height: 430px;
}

.flip {
  transition: 0.6s;
  transform-style: preserve-3d;
  position: relative;
}

.front,
.back {
  backface-visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
}

.front {
  z-index: 2;
  transform: rotateY(0deg);
}

.back {
  transform: rotateY(180deg);
}

.card .card-body .card-text {
font-size: 0.7rem;
}

.card-title {
    margin-bottom: 0.5rem;
}

.card-body {
    padding: 0.6rem;
}
