{% extends 'base.html' %} {% block content %}

<div class="container">
<div class="container-header">
    <h1>Edit Category</h1>
  </div>
  <div class="row">
    <form
      action="{{ url_for('update_category', category_id=category._id) }}"
      method="POST"
      class="col-md-12"
    >
      <div class="row">
        <div class="col-md-6">
          <div class="md-form">
            <i class="far fa-list-alt fa-lg prefix"></i>
            <input
              id="category_name"
              name="category_name"
              type="text"
              class="form-control"
              value="{{category.category_name}}"
              required
            />
            <label>Category Name</label>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <button type="submit" class="btn btn-primary btn-sm">
            <i class="fas fa-plus-circle"></i> Edit Category
          </button>
          <a
            href="{{ url_for('get_categories') }}"
            class="btn btn-outline-primary btn-sm"
          >
            <i class="fas fa-times-circle"></i> Cancel
          </a>
        </div>
      </div>
    </form>
  </div>
</div>

{% endblock %}
