{% extends 'base.html' %} {% block content %}

<h3>Edit Recipe</h3>
<div class="container">
  <div class="row">
    <form action="{{ url_for('update_task', task_id=task._id) }}" method="POST" class="col-md-12">
      <div class="row">
        <div class="col-md-6">
          <div class="md-form">
            <i class="fas fa-cocktail fa-2x prefix"></i>
            <input
              id="recipe_name"
              name="recipe_name"
              type="text"
              class="form-control"
              value="{{recipe.recipe_name}}"
              required
            />
            <label>Recipe Name</label>
          </div>
        </div>
        <div class="col-md-6 form-group">
          <div class="md-form">
            <select id="category" name="category_name" class="custom-select" required>
              <option value="" disabled selected>Choose a Category</option>
              {% for category in categories %} {% if category.category_name ==
              recipe.category_name %}
              <option value="{{category.category_name}}" selected
                >{{category.category_name}}</option
              >
              {% else %}
              <option value="{{category.category_name}}"
                >{{category.category_name}}</option
              >
              {% endif %} {% endfor %}
            </select>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="md-form">
            <i class="fas fa-edit fa-2x prefix"></i>
            <textarea
              id="recipe_description"
              name="recipe_description"
              class="md-textarea form-control"
              rows="3"
              required
            >
{{recipe.recipe_description}}</textarea
            >
            <label>Recipe Description</label>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="md-form">
            <i class="fas fa-clipboard-list fa-2x prefix"></i>
            <textarea
              id="ingredients"
              name="ingredients"
              class="md-textarea form-control"
              rows="3"
              required
            >
{{recipe.ingredients}}</textarea
            >
            <label>Ingredients</label>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="md-form">
            <i class="fas fa-list-ol fa-2x prefix"></i>
            <textarea
              id="preparation_method"
              name="preparation_method"
              class="md-textarea form-control"
              rows="3"
              required
            >
{{recipe.preparation_method}}</textarea
            >
            <label>Preparation Method</label>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="md-form">
            <i class="fab fa-algolia fa-2x prefix"></i>
            <input
              id="difficulty"
              name="difficulty"
              type="text"
              class="form-control"
              value="{{recipe.difficulty}}"
              required
            />
            <label>Difficulty (Easy, Medium, Hard):</label>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="md-form">
            <i class="far fa-images fa-2x prefix"></i>
            <input
              id="recipe_image"
              name="recipe_image"
              type="text"
              class="form-control"
              value="{{recipe.recipe_image}}"
              required
            />
            <label>Enter Image URL</label>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <button type="submit" class="btn btn-primary">
            <i class="fas fa-plus-circle"></i> Add Recipe
          </button>
        </div>
      </div>
      {% endblock %}
    </form>
  </div>
</div>
