{% extends 'base.html' %}
{% block content %}
    

    <section id="recipes-section">

    
    <div class="container-fluid">
      <div class="row content-block">
      
        <div class="col-md-12">
          <h1 class="">Cocktails</h1>
        </div>
        {% for recipe in recipes %}
        <div class="container">
          <div class="card-deck">
            <div class="card">
              <img src="static/images/martini.jpg" class="card-img-top" alt="cocktail-picture">
              <div class="card-body">
                <h5 class="card-title">{{recipe.recipe_name}}</h5>
                <p>{{recipe.recipe_description}}</p>
              </div>
              <div class="card-body">
                <a href="" class="btn btn-primary float-right">See More</a>
              </div>
            </div>
            <div class="card">
              <img src="static/images/martini.jpg" class="card-img-top" alt="cocktail-picture">
              <div class="card-body">
                <h5 class="card-title">{{recipe.recipe_name}}</h5>
                <p>{{recipe.recipe_description}}</p>
              </div>
              <div class="card-body">
                <a href="" class="btn btn-primary float-right">See More</a>
              </div>
            </div>
            <div class="card">
              <img src="static/images/martini.jpg" class="card-img-top" alt="cocktail-picture">
              <div class="card-body">
                <h5 class="card-title">{{recipe.recipe_name}}</h5>
                <p>{{recipe.recipe_description}}</p>
              </div>
              <div class="card-body">
                <a href="" class="btn btn-primary float-right">See More</a>
              </div>
            </div>
          </div>
          <br>
        </div>
        {% endfor %}
      </div>
    </div>
    
  </section>

{% endblock %}